/* This file is for defining CSS variables within the tailwindcss @theme directive. */

/* Base colors */
@theme inline {
  /* Black Alpha */
  --color-black-a1: var(--black-a1);
  --color-black-a2: var(--black-a2);
  --color-black-a3: var(--black-a3);
  --color-black-a4: var(--black-a4);
  --color-black-a5: var(--black-a5);
  --color-black-a6: var(--black-a6);
  --color-black-a7: var(--black-a7);
  --color-black-a8: var(--black-a8);
  --color-black-a9: var(--black-a9);
  --color-black-a10: var(--black-a10);
  --color-black-a11: var(--black-a11);
  --color-black-a12: var(--black-a12);
  /* White Alpha */
  --color-white-a1: var(--white-a1);
  --color-white-a2: var(--white-a2);
  --color-white-a3: var(--white-a3);
  --color-white-a4: var(--white-a4);
  --color-white-a5: var(--white-a5);
  --color-white-a6: var(--white-a6);
  --color-white-a7: var(--white-a7);
  --color-white-a8: var(--white-a8);
  --color-white-a9: var(--white-a9);
  --color-white-a10: var(--white-a10);
  --color-white-a11: var(--white-a11);
  --color-white-a12: var(--white-a12);

  /* Gray */
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);
  /* Gray Alpha colors */
  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);
  /* Gray Semantic colors */
  --color-gray-contrast: var(--gray-contrast);
  --color-gray-surface: var(--gray-surface);
  --color-gray-indicator: var(--gray-indicator);
  --color-gray-track: var(--gray-track);

  /* Gray */
  --color-amber-1: var(--amber-1);
  --color-amber-2: var(--amber-2);
  --color-amber-3: var(--amber-3);
  --color-amber-4: var(--amber-4);
  --color-amber-5: var(--amber-5);
  --color-amber-6: var(--amber-6);
  --color-amber-7: var(--amber-7);
  --color-amber-8: var(--amber-8);
  --color-amber-9: var(--amber-9);
  --color-amber-10: var(--amber-10);
  --color-amber-11: var(--amber-11);
  --color-amber-12: var(--amber-12);
  /* Gray Alpha colors */
  --color-amber-a1: var(--amber-a1);
  --color-amber-a2: var(--amber-a2);
  --color-amber-a3: var(--amber-a3);
  --color-amber-a4: var(--amber-a4);
  --color-amber-a5: var(--amber-a5);
  --color-amber-a6: var(--amber-a6);
  --color-amber-a7: var(--amber-a7);
  --color-amber-a8: var(--amber-a8);
  --color-amber-a9: var(--amber-a9);
  --color-amber-a10: var(--amber-a10);
  --color-amber-a11: var(--amber-a11);
  --color-amber-a12: var(--amber-a12);
  /* Gray Semantic colors */
  --color-amber-contrast: var(--amber-contrast);
  --color-amber-surface: var(--amber-surface);
  --color-amber-indicator: var(--amber-indicator);
  --color-amber-track: var(--amber-track);

  /* Gray */
  --color-mint-1: var(--mint-1);
  --color-mint-2: var(--mint-2);
  --color-mint-3: var(--mint-3);
  --color-mint-4: var(--mint-4);
  --color-mint-5: var(--mint-5);
  --color-mint-6: var(--mint-6);
  --color-mint-7: var(--mint-7);
  --color-mint-8: var(--mint-8);
  --color-mint-9: var(--mint-9);
  --color-mint-10: var(--mint-10);
  --color-mint-11: var(--mint-11);
  --color-mint-12: var(--mint-12);
  /* Gray Alpha colors */
  --color-mint-a1: var(--mint-a1);
  --color-mint-a2: var(--mint-a2);
  --color-mint-a3: var(--mint-a3);
  --color-mint-a4: var(--mint-a4);
  --color-mint-a5: var(--mint-a5);
  --color-mint-a6: var(--mint-a6);
  --color-mint-a7: var(--mint-a7);
  --color-mint-a8: var(--mint-a8);
  --color-mint-a9: var(--mint-a9);
  --color-mint-a10: var(--mint-a10);
  --color-mint-a11: var(--mint-a11);
  --color-mint-a12: var(--mint-a12);
  /* Gray Semantic colors */
  --color-mint-contrast: var(--mint-contrast);
  --color-mint-surface: var(--mint-surface);
  --color-mint-indicator: var(--mint-indicator);
  --color-mint-track: var(--mint-track);

  /* Gray */
  --color-brown-1: var(--brown-1);
  --color-brown-2: var(--brown-2);
  --color-brown-3: var(--brown-3);
  --color-brown-4: var(--brown-4);
  --color-brown-5: var(--brown-5);
  --color-brown-6: var(--brown-6);
  --color-brown-7: var(--brown-7);
  --color-brown-8: var(--brown-8);
  --color-brown-9: var(--brown-9);
  --color-brown-10: var(--brown-10);
  --color-brown-11: var(--brown-11);
  --color-brown-12: var(--brown-12);
  /* Gray Alpha colors */
  --color-brown-a1: var(--brown-a1);
  --color-brown-a2: var(--brown-a2);
  --color-brown-a3: var(--brown-a3);
  --color-brown-a4: var(--brown-a4);
  --color-brown-a5: var(--brown-a5);
  --color-brown-a6: var(--brown-a6);
  --color-brown-a7: var(--brown-a7);
  --color-brown-a8: var(--brown-a8);
  --color-brown-a9: var(--brown-a9);
  --color-brown-a10: var(--brown-a10);
  --color-brown-a11: var(--brown-a11);
  --color-brown-a12: var(--brown-a12);
  /* Gray Semantic colors */
  --color-brown-contrast: var(--brown-contrast);
  --color-brown-surface: var(--brown-surface);
  --color-brown-indicator: var(--brown-indicator);
  --color-brown-track: var(--brown-track);

  /* Gray */
  --color-crimson-1: var(--crimson-1);
  --color-crimson-2: var(--crimson-2);
  --color-crimson-3: var(--crimson-3);
  --color-crimson-4: var(--crimson-4);
  --color-crimson-5: var(--crimson-5);
  --color-crimson-6: var(--crimson-6);
  --color-crimson-7: var(--crimson-7);
  --color-crimson-8: var(--crimson-8);
  --color-crimson-9: var(--crimson-9);
  --color-crimson-10: var(--crimson-10);
  --color-crimson-11: var(--crimson-11);
  --color-crimson-12: var(--crimson-12);
  /* Gray Alpha colors */
  --color-crimson-a1: var(--crimson-a1);
  --color-crimson-a2: var(--crimson-a2);
  --color-crimson-a3: var(--crimson-a3);
  --color-crimson-a4: var(--crimson-a4);
  --color-crimson-a5: var(--crimson-a5);
  --color-crimson-a6: var(--crimson-a6);
  --color-crimson-a7: var(--crimson-a7);
  --color-crimson-a8: var(--crimson-a8);
  --color-crimson-a9: var(--crimson-a9);
  --color-crimson-a10: var(--crimson-a10);
  --color-crimson-a11: var(--crimson-a11);
  --color-crimson-a12: var(--crimson-a12);
  /* Gray Semantic colors */
  --color-crimson-contrast: var(--crimson-contrast);
  --color-crimson-surface: var(--crimson-surface);
  --color-crimson-indicator: var(--crimson-indicator);
  --color-crimson-track: var(--crimson-track);

  /* Gray */
  --color-indigo-1: var(--indigo-1);
  --color-indigo-2: var(--indigo-2);
  --color-indigo-3: var(--indigo-3);
  --color-indigo-4: var(--indigo-4);
  --color-indigo-5: var(--indigo-5);
  --color-indigo-6: var(--indigo-6);
  --color-indigo-7: var(--indigo-7);
  --color-indigo-8: var(--indigo-8);
  --color-indigo-9: var(--indigo-9);
  --color-indigo-10: var(--indigo-10);
  --color-indigo-11: var(--indigo-11);
  --color-indigo-12: var(--indigo-12);
  /* Gray Alpha colors */
  --color-indigo-a1: var(--indigo-a1);
  --color-indigo-a2: var(--indigo-a2);
  --color-indigo-a3: var(--indigo-a3);
  --color-indigo-a4: var(--indigo-a4);
  --color-indigo-a5: var(--indigo-a5);
  --color-indigo-a6: var(--indigo-a6);
  --color-indigo-a7: var(--indigo-a7);
  --color-indigo-a8: var(--indigo-a8);
  --color-indigo-a9: var(--indigo-a9);
  --color-indigo-a10: var(--indigo-a10);
  --color-indigo-a11: var(--indigo-a11);
  --color-indigo-a12: var(--indigo-a12);
  /* Gray Semantic colors */
  --color-indigo-contrast: var(--indigo-contrast);
  --color-indigo-surface: var(--indigo-surface);
  --color-indigo-indicator: var(--indigo-indicator);
  --color-indigo-track: var(--indigo-track);

  /* Gray */
  --color-orange-1: var(--orange-1);
  --color-orange-2: var(--orange-2);
  --color-orange-3: var(--orange-3);
  --color-orange-4: var(--orange-4);
  --color-orange-5: var(--orange-5);
  --color-orange-6: var(--orange-6);
  --color-orange-7: var(--orange-7);
  --color-orange-8: var(--orange-8);
  --color-orange-9: var(--orange-9);
  --color-orange-10: var(--orange-10);
  --color-orange-11: var(--orange-11);
  --color-orange-12: var(--orange-12);
  /* Gray Alpha colors */
  --color-orange-a1: var(--orange-a1);
  --color-orange-a2: var(--orange-a2);
  --color-orange-a3: var(--orange-a3);
  --color-orange-a4: var(--orange-a4);
  --color-orange-a5: var(--orange-a5);
  --color-orange-a6: var(--orange-a6);
  --color-orange-a7: var(--orange-a7);
  --color-orange-a8: var(--orange-a8);
  --color-orange-a9: var(--orange-a9);
  --color-orange-a10: var(--orange-a10);
  --color-orange-a11: var(--orange-a11);
  --color-orange-a12: var(--orange-a12);
  /* Gray Semantic colors */
  --color-orange-contrast: var(--orange-contrast);
  --color-orange-surface: var(--orange-surface);
  --color-orange-indicator: var(--orange-indicator);
  --color-orange-track: var(--orange-track);

  /* Gray */
  --color-plum-1: var(--plum-1);
  --color-plum-2: var(--plum-2);
  --color-plum-3: var(--plum-3);
  --color-plum-4: var(--plum-4);
  --color-plum-5: var(--plum-5);
  --color-plum-6: var(--plum-6);
  --color-plum-7: var(--plum-7);
  --color-plum-8: var(--plum-8);
  --color-plum-9: var(--plum-9);
  --color-plum-10: var(--plum-10);
  --color-plum-11: var(--plum-11);
  --color-plum-12: var(--plum-12);
  /* Gray Alpha colors */
  --color-plum-a1: var(--plum-a1);
  --color-plum-a2: var(--plum-a2);
  --color-plum-a3: var(--plum-a3);
  --color-plum-a4: var(--plum-a4);
  --color-plum-a5: var(--plum-a5);
  --color-plum-a6: var(--plum-a6);
  --color-plum-a7: var(--plum-a7);
  --color-plum-a8: var(--plum-a8);
  --color-plum-a9: var(--plum-a9);
  --color-plum-a10: var(--plum-a10);
  --color-plum-a11: var(--plum-a11);
  --color-plum-a12: var(--plum-a12);
  /* Gray Semantic colors */
  --color-plum-contrast: var(--plum-contrast);
  --color-plum-surface: var(--plum-surface);
  --color-plum-indicator: var(--plum-indicator);
  --color-plum-track: var(--plum-track);

  /* Gray */
  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);
  /* Gray Alpha colors */
  --color-red-a1: var(--red-a1);
  --color-red-a2: var(--red-a2);
  --color-red-a3: var(--red-a3);
  --color-red-a4: var(--red-a4);
  --color-red-a5: var(--red-a5);
  --color-red-a6: var(--red-a6);
  --color-red-a7: var(--red-a7);
  --color-red-a8: var(--red-a8);
  --color-red-a9: var(--red-a9);
  --color-red-a10: var(--red-a10);
  --color-red-a11: var(--red-a11);
  --color-red-a12: var(--red-a12);
  /* Gray Semantic colors */
  --color-red-contrast: var(--red-contrast);
  --color-red-surface: var(--red-surface);
  --color-red-indicator: var(--red-indicator);
  --color-red-track: var(--red-track);

  /* Gray */
  --color-sky-1: var(--sky-1);
  --color-sky-2: var(--sky-2);
  --color-sky-3: var(--sky-3);
  --color-sky-4: var(--sky-4);
  --color-sky-5: var(--sky-5);
  --color-sky-6: var(--sky-6);
  --color-sky-7: var(--sky-7);
  --color-sky-8: var(--sky-8);
  --color-sky-9: var(--sky-9);
  --color-sky-10: var(--sky-10);
  --color-sky-11: var(--sky-11);
  --color-sky-12: var(--sky-12);
  /* Gray Alpha colors */
  --color-sky-a1: var(--sky-a1);
  --color-sky-a2: var(--sky-a2);
  --color-sky-a3: var(--sky-a3);
  --color-sky-a4: var(--sky-a4);
  --color-sky-a5: var(--sky-a5);
  --color-sky-a6: var(--sky-a6);
  --color-sky-a7: var(--sky-a7);
  --color-sky-a8: var(--sky-a8);
  --color-sky-a9: var(--sky-a9);
  --color-sky-a10: var(--sky-a10);
  --color-sky-a11: var(--sky-a11);
  --color-sky-a12: var(--sky-a12);
  /* Gray Semantic colors */
  --color-sky-contrast: var(--sky-contrast);
  --color-sky-surface: var(--sky-surface);
  --color-sky-indicator: var(--sky-indicator);
  --color-sky-track: var(--sky-track);

  /* Gray */
  --color-teal-1: var(--teal-1);
  --color-teal-2: var(--teal-2);
  --color-teal-3: var(--teal-3);
  --color-teal-4: var(--teal-4);
  --color-teal-5: var(--teal-5);
  --color-teal-6: var(--teal-6);
  --color-teal-7: var(--teal-7);
  --color-teal-8: var(--teal-8);
  --color-teal-9: var(--teal-9);
  --color-teal-10: var(--teal-10);
  --color-teal-11: var(--teal-11);
  --color-teal-12: var(--teal-12);
  /* Gray Alpha colors */
  --color-teal-a1: var(--teal-a1);
  --color-teal-a2: var(--teal-a2);
  --color-teal-a3: var(--teal-a3);
  --color-teal-a4: var(--teal-a4);
  --color-teal-a5: var(--teal-a5);
  --color-teal-a6: var(--teal-a6);
  --color-teal-a7: var(--teal-a7);
  --color-teal-a8: var(--teal-a8);
  --color-teal-a9: var(--teal-a9);
  --color-teal-a10: var(--teal-a10);
  --color-teal-a11: var(--teal-a11);
  --color-teal-a12: var(--teal-a12);
  /* Gray Semantic colors */
  --color-teal-contrast: var(--teal-contrast);
  --color-teal-surface: var(--teal-surface);
  --color-teal-indicator: var(--teal-indicator);
  --color-teal-track: var(--teal-track);
}

/* Semantic colors */
@theme inline {
  --color-debug: var(--debug);
  /* Accent */
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  /* Accent Alpha colors */
  --color-accent-a1: var(--accent-a1);
  --color-accent-a2: var(--accent-a2);
  --color-accent-a3: var(--accent-a3);
  --color-accent-a4: var(--accent-a4);
  --color-accent-a5: var(--accent-a5);
  --color-accent-a6: var(--accent-a6);
  --color-accent-a7: var(--accent-a7);
  --color-accent-a8: var(--accent-a8);
  --color-accent-a9: var(--accent-a9);
  --color-accent-a10: var(--accent-a10);
  --color-accent-a11: var(--accent-a11);
  --color-accent-a12: var(--accent-a12);
  /* Accent Semantic colors */
  --color-accent-contrast: var(--accent-contrast);
  --color-accent-surface: var(--accent-surface);
  --color-accent-indicator: var(--accent-indicator);
  --color-accent-track: var(--accent-track);

  /* Success */
  --color-success-1: var(--mint-1);
  --color-success-2: var(--mint-2);
  --color-success-3: var(--mint-3);
  --color-success-4: var(--mint-4);
  --color-success-5: var(--mint-5);
  --color-success-6: var(--mint-6);
  --color-success-7: var(--mint-7);
  --color-success-8: var(--mint-8);
  --color-success-9: var(--mint-9);
  --color-success-10: var(--mint-10);
  --color-success-11: var(--mint-11);
  --color-success-12: var(--mint-12);
  /* success Alpha colors */
  --color-success-a1: var(--mint-a1);
  --color-success-a2: var(--mint-a2);
  --color-success-a3: var(--mint-a3);
  --color-success-a4: var(--mint-a4);
  --color-success-a5: var(--mint-a5);
  --color-success-a6: var(--mint-a6);
  --color-success-a7: var(--mint-a7);
  --color-success-a8: var(--mint-a8);
  --color-success-a9: var(--mint-a9);
  --color-success-a10: var(--mint-a10);
  --color-success-a11: var(--mint-a11);
  --color-success-a12: var(--mint-a12);
  /* Success Semantic colors */
  --color-success-contrast: var(--mint-contrast);
  --color-success-surface: var(--mint-surface);
  --color-success-indicator: var(--mint-indicator);
  --color-success-track: var(--mint-track);

  /* Info */
  --color-info-1: var(--amber-1);
  --color-info-2: var(--amber-2);
  --color-info-3: var(--amber-3);
  --color-info-4: var(--amber-4);
  --color-info-5: var(--amber-5);
  --color-info-6: var(--amber-6);
  --color-info-7: var(--amber-7);
  --color-info-8: var(--amber-8);
  --color-info-9: var(--amber-9);
  --color-info-10: var(--amber-10);
  --color-info-11: var(--amber-11);
  --color-info-12: var(--amber-12);
  /* info Alpha colors */
  --color-info-a1: var(--amber-a1);
  --color-info-a2: var(--amber-a2);
  --color-info-a3: var(--amber-a3);
  --color-info-a4: var(--amber-a4);
  --color-info-a5: var(--amber-a5);
  --color-info-a6: var(--amber-a6);
  --color-info-a7: var(--amber-a7);
  --color-info-a8: var(--amber-a8);
  --color-info-a9: var(--amber-a9);
  --color-info-a10: var(--amber-a10);
  --color-info-a11: var(--amber-a11);
  --color-info-a12: var(--amber-a12);
  /* Success Semantic colors */
  --color-info-contrast: var(--amber-contrast);
  --color-info-surface: var(--amber-surface);
  --color-info-indicator: var(--amber-indicator);
  --color-info-track: var(--amber-track);

  /* Danger */
  --color-danger-1: var(--red-1);
  --color-danger-2: var(--red-2);
  --color-danger-3: var(--red-3);
  --color-danger-4: var(--red-4);
  --color-danger-5: var(--red-5);
  --color-danger-6: var(--red-6);
  --color-danger-7: var(--red-7);
  --color-danger-8: var(--red-8);
  --color-danger-9: var(--red-9);
  --color-danger-10: var(--red-10);
  --color-danger-11: var(--red-11);
  --color-danger-12: var(--red-12);
  /* danger Alpha colors */
  --color-danger-a1: var(--red-a1);
  --color-danger-a2: var(--red-a2);
  --color-danger-a3: var(--red-a3);
  --color-danger-a4: var(--red-a4);
  --color-danger-a5: var(--red-a5);
  --color-danger-a6: var(--red-a6);
  --color-danger-a7: var(--red-a7);
  --color-danger-a8: var(--red-a8);
  --color-danger-a9: var(--red-a9);
  --color-danger-a10: var(--red-a10);
  --color-danger-a11: var(--red-a11);
  --color-danger-a12: var(--red-a12);
  /* Danger Semantic colors */
  --color-danger-contrast: var(--red-contrast);
  --color-danger-surface: var(--red-surface);
  --color-danger-indicator: var(--red-indicator);
  --color-danger-track: var(--red-track);
}

/* Shadncn Theme Variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme inline {
  /* Content Colors */
  --color-cnt-primary: var(--cnt-primary);
  --color-cnt-secondary: var(--cnt-secondary);
  --color-cnt-tertiary: var(--cnt-tertiary);
  --color-cnt-quaternary: var(--cnt-quaternary);
  --color-cnt-inverse: var(--cnt-inverse);
  --color-cnt-disabled: var(--cnt-disabled);

  /* Background Colors */
  --color-canvas: var(--bg-canvas); /* use for page backgrounds */
  --color-surface: var(--bg-surface); /* use as main (card..etc) content background */
  --color-surface-secondary: var(--bg-surface-secondary);
  --color-surface-tertiary: var(--bg-surface-tertiary);
  --color-inverse: var(--bg-inverse); /* use for dark mode or inverse elements */
  --color-overlay: var(--bg-overlay);

  /* Background State Colors */
  --color-canvas-hover: var(--bg-canvas); /* use for page backgrounds */
  --color-surface-hover: var(--bg-surface); /* use as main (card..etc) content background */
  --color-surface-secondary-hover: var(--bg-surface-secondary);
  --color-surface-tertiary-hover: var(--bg-surface-tertiary);
  --color-inverse-hover: var(--bg-inverse); /* use for dark mode or inverse elements */

  /* Accent Background Colors */
  --color-accent-bold: var(--accent-9); /* use as main (card..etc) content background */
  --color-accent-soft: var(--accent-3);
  --color-accent-alternative: var(--accent-4);

  /* Border Colors */
  --color-brd-default: var(--brd-default);
  --color-brd-muted: var(--brd-muted);
  --color-brd-control: var(--brd-control);
  --color-brd-ring: var(--brd-ring);
}
